.navBar {
  width: 60%;
  padding: 0.4rem;
}
.navBar ul {
  list-style: none;
  width: 100%;
}
.navBar ul li {
  border: solid 0.5px;
  border-radius: 10px;
  padding: 0.6rem;
  transition: 200ms;
  margin: 4px;
  text-align: center;
}
.navBar li:hover {
  font-size: 1.8rem;
  color: var(--sec-color);
  background-color: var(--main-color);
}
.header-nav {
  border-bottom: solid;
  display: flex;
  justify-content: space-around;
  padding: 1.3rem;
}
.all-instruments {
  background-color: var(--terc-color);
  color: var(--sec-color);
}
@media (min-width: 600px) {
  .navBar ul {
    display: flex;
  }
}
