.count-container {
  margin-top: 1.5rem;
  display: flex;
}
.add-cart-button {
  padding: 0.9rem 1.9rem;
  font-size: 1.6rem;
  margin: 0.8rem auto;
  background-color: var(--terc-color);
  color: var(--sec-color);
  border: solid 1.5px;
  border-radius: 6px;
  font-family: inherit;
  transition: 200ms;
  width: 60%;
}
.add-cart-button:hover {
  background-color: var(--main-color);
}
.count-container button {
  padding: 0.6rem;
  margin: 0 1rem;
  background-color: var(--sec-color);
  border: solid var(--main-color) 1px;
  color: var(--main-color);
  border-radius: 5px;
  font-size: 1.4rem;
  transition: 150ms;
}
.count-container button:hover {
  background-color: var(--terc-color);
  color: var(--sec-color);
}
