:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --main-color: rgb(39, 91, 97);
  --terc-color: rgb(94, 119, 118);
  --sec-color: rgb(245, 250, 255);
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background-color: var(--sec-color);
  color: var(--main-color);
}
a {
  text-decoration: none;
  color: inherit;
}
a,
button,
li {
  cursor: pointer;
}
