.item-detail-container {
  border: solid 1px;
  width: 75%;
  margin: 1rem auto;
  padding: 2rem;
}
.item-detail-container img {
  width: 18rem;
  height: 28rem;
  border-radius: 5px;
  margin: 1rem;
}
.img-info-container {
  display: flex;
  justify-content: space-between;
}
.info-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid;
  padding: 1rem 5rem 1rem 2rem;
  height: 12rem;
}
